<% breadcrumb :workflows %>

<div class="mb-3 d-md-flex fw-bold">
  <div class="mt-2 mt-md-0">
    <%= link_to workflows_path, class: "text-decoration-none text-dark" do %>
      <i class="fa fa-arrow-left fa-fw me-1 text-dark text-opacity-50"></i>
      <%= t(".back", default: "Back") %>
    <% end %>
  </div>
</div>

<div class="row gx-4">
  <div class="col-xl-8 mb-xl-0 mb-4">
    <div class="card border-0">
      <div class="card-header bg-none p-3 h6 m-0 d-flex align-items-center">
        <i class="fa fa-diagram-project fa-lg me-2 text-gray text-opacity-50"></i>
        <%= t(".title", default: "New Workflow") %>
      </div>
      <div class="card-body p-3" data-controller="workflow-builder">
        <%= render "form", workflow: @workflow %>
      </div>
    </div>
  </div>

  <div class="col-xl-4">
    <div class="card border-0">
      <div class="card-header bg-none p-3 h6 m-0 d-flex align-items-center">
        <i class="fa fa-circle-info fa-lg me-2 text-gray text-opacity-50"></i>
        <%= t(".help", default: "Instructions") %>
      </div>
      <div class="card-body small text-dark text-opacity-75">
        <p class="mb-2"><%= t(".help_text", default: "Add steps and their actions. Use arrows to reorder.") %></p>
      </div>
    </div>
  </div>
</div>
